<h1>Add your new idea</h1>

<%= render "form", idea: @idea  %>

        <ul class="list-unstyled mb-3">
          <div class="spacing-element"></div>
            <li class="mb-1"><i class="fa-solid fa-lightbulb"></i> Top tip: Once you have added your idea, save it in the top right to generate the document structure.</li>
          <div class="spacing-element"></div>
        </ul>
