<div class="footer">
  <div class="left-side">
    <%= link_to "About us", "/about_us", class: "about" %>
  </div>

  <div class="right-side">
    <% if current_page?(ideas_path) || current_page?(root_path) %>
      <li class="nav-item">
        <%= link_to "Add your own idea", "/ideas/new", class: "btn_nav" %>
      </li>
    <% end %>
  </div>
</div>
